.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #020617;
  color: #ecebff;

  & aside {
    width: 30%;
    height: 100vh;
    background-color: #030712;
    border-right: 1px solid #121063;
    padding: 3rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    & h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    & input {
      width: 100%;
      background-color: #0a0a0a;
      color: #ecebff;

      border: 2px solid #121063;
      border-radius: 10px;
      margin-top: 2rem;
      padding: 1rem 1rem;
      outline: 0;

      &:hover {
        transition: 0.15s;
        border-color: #0e0d4f;
      }

      &:focus {
        transition: 0.15s;
        border-color: #0e0d4f;
      }
    }

    & select {
      width: 100%;
      margin-top: 2rem;
      padding: 1rem 1rem;

      background-color: #0a0a0a;
      color: #5e5e5e;

      border: 2px solid #121063;
      border-radius: 10px;
      outline: none;

      &:hover {
        transition: 0.15s;
        border-color: #0e0d4f;
      }
    }

    & button {
      width: 100%;
      margin-top: 2rem;
      padding: 1rem;

      background-color: #020617;
      color: #ecebff;

      border: 2px solid #121063;
      border-radius: 10px;

      &:hover {
        transition: 0.15s;
        background-color: #0f172a;
        color: #fff;
      }
    }
  }

  & section {
    width: 70%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .teamA {
      border-right: 2px solid #121063;
    }
  }
}

.team {
  padding: 3rem;

  h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
}

